---
import Layout from '../layouts/Layout.astro';
---

<Layout title="About">
  <main>
    <h1>About Me</h1>
    <p>"I am a results-driven Software Developer with over 2 years of experience building scalable, responsive web and
      mobile applications using React.js and React Native.
      I love turning complex challenges into elegant solutions.
      Outside of coding, I enjoy __."
    </p>
  </main>
</Layout>

<style>
    main {
        margin: auto;
        padding: 1rem;
        width: 800px;
        max-width: calc(100% - 2rem);
        color: white;
        font-size: 20px;
        line-height: 1.6;
        background-color: #ffff;
    }

    h1 {
        text-align: center;
        font-size: 68px;
        color: black;
    }

    p {
        color: black;
        text-align: center;
    }


</style>
