---
import Layout from '../layouts/Layout.astro';

---

<Layout title="About">
    <main>
        <h1>Welcome to <span class="text-gradient">About Page</span></h1>


    </main>
</Layout>

<style>
    main {
        margin: auto;
        padding: 1rem;
        width: 800px;
        max-width: calc(100% - 2rem);
        color: white;
        font-size: 20px;
        line-height: 1.6;
        background-color: #ffff;
    }
     

</style>
