---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import { skillsData } from '../constant/data.js';
---


<Layout title="Prashant Mishra">
  <main>
    <h1>Prashant Mishra</h1>
    <p>
      Front-End Developer | Web (React.js) & Mobile (React Native)
    </p>

    <!-- Skills -->
    <section style="display: grid; grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); gap: 1rem;">
      {skillsData.map(skill => (
        <Card
          title={skill.title}
          body={skill.body}
          href={skill.href}
        />
      ))}
    </section>
  </main>
</Layout>

<style>
    main {
        margin: auto;
        padding: 1rem;
        width: 800px;
        max-width: calc(100% - 2rem);
        color: white;
        font-size: 20px;
        line-height: 1.6;
    }

    h1 {
        font-size: 68px;
        color: black;
        display: flex;
        justify-content: center;
        margin-bottom: 0;
        line-height: 68px;
    }

    p {
        letter-spacing: 2px;
        color: black;
        font-size: 16px;
        margin-top: 0.5rem;
        text-align: center;
    }

    section {
        margin-top: 2rem;
    }
</style>
