---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Prashant Mishra">
	<main>
	  <h1>Prashant Mishra</h1>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}

	h1{
		font-size: 68px;
		color: black;
		display: flex;
		justify-content: center;
	}
	 
</style>
