---
interface Props {
  title: string;
  body: string;
  href: string;
  exp: string;
}

const { href, title, body, exp } = Astro.props;
---

<li
  class="link-card rounded-[4px] border-0 bg-gray-100 p-[1px] flex list-none bg-none bg-[400%]"
>
  <a
    href={href}
    class="w-full text-black no-underline leading-[1.4] p-[calc(1.5rem-1px)] rounded-[12px]"
  >
    <h2
      class="m-0 text-xl flex justify-between items-center transition-colors duration-[0.6s] ease-[cubic-bezier(0.22,_1,_0.36,_1)]"
    >
      {title}
      {
        exp ? (
          <span class="ml-2 text-sm text-gray-500 ">{exp}</span>
        ) : (
          <span class="ml-2 text-sm">&rarr;</span>
        )
      }
    </h2>
    <p class="mt-[0.5rem] mb-0 text-sm lg:text-md font-normal text-gray-500">
      {body}
    </p>
  </a>
</li>
