---
interface Props {
	title: string;
	body: string;
	href: string;
}

const { href, title, body } = Astro.props;
---

<li class="link-card rounded-[4px] border-0 bg-gray-100 p-[1px] flex list-none bg-none bg-[400%]">
	<a href={href} class="w-full text-black no-underline leading-[1.4] p-[calc(1.5rem-1px)] rounded-[12px]">
		<h2 class="m-0 text-xl transition-colors duration-[0.6s] ease-[cubic-bezier(0.22,_1,_0.36,_1)]">
			{title}
			<span>&rarr;</span>
		</h2>
		<p class="mt-[0.5rem] mb-0 text-md text-gray-400">
			{body}
		</p>
	</a>
</li>
